Question-1:

In [1]:
a = 'reetesh'
b = [1,2,'s',3]
c = 2.23
d = (1,2,3)

Question-2:

var1 : String
var2 : String
var3 : list
var4 : int

Question-3:

In [2]:
a = 5
b = 2
c = a/b  #'/' used for airthmetic divison.
d = a%b  #'%' used for getting the remainder after dividing its first operand by its second.
e = a // b #'//' used for floor divison.
f = a**b #'**' used for raising the power of first operand by second one
print (c,d,e,f)

2.5 1 2 25

Question-4:

In [10]:
l = [1,2,2.5,'reetesh',True,9,56.5,'a',6.45,5]
for i in l:
    print (f"data type of {i} is {type(i)} ")

data type of 1 is <class 'int'>
data type of 2 is <class 'int'>
data type of 2.5 is <class 'float'>
data type of reetesh is <class 'str'>
data type of True is <class 'bool'>
data type of 9 is <class 'int'>
data type of 56.5 is <class 'float'>
data type of a is <class 'str'>
data type of 6.45 is <class 'float'>
data type of 5 is <class 'int'>

Question-5:

In [14]:
a = int(input("enter value of a"))
b = int(input("enter value of b"))
count=0
if a%b==0:
    print(f"{a} is divisible by {b}")
    while a%b == 0:
        count+=1
        a=a/b
print(count)

enter value of a 50
enter value of b 2

50 is divisible by 2
1

Question-6

In [18]:
l = list(range(1,26))
for i in l:
    if i%3 == 0:
        print(f"{i} is divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3

Question-7:

Mutable data types are such data types in which value of a data type can be changed without creating new object.

eg:- Lists :- In list object we can change value at a particular index without changing the object.

Immutable data types are such data types in which value of a data type cannot be changed without creating new object.

eg:- String :- In string object we cannot change value at a particular index without changing the object.